* {
    font-family: 'Nova Cut', cursive;
    font-size: 18px;
    color: #555555;
    margin: 0px;
    padding: 0px;
}

html {
    background-color: #F3F3F3;
}

a {
    text-decoration: none;
}

nav {
    list-style: none;
    display: flex;
    padding: 50px;
    gap: 100px;
}

a:hover {
    text-decoration: underline;
}

main {
    min-height: calc(100vh - 50px);
    padding: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 250px;
}

.welcome_message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.home_page_header {
    font-size: 80px;
    margin: 0px;
    color: #6A5ACD;
    text-align: center;
}

.home_page_subheader {
    font-size: 24px;
    color: #6A5ACD;
    text-align: center;
}

.journey_section {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.journey_title {
    font-size: 30px;
    color: #6A5ACD;
    text-align: center;
}

.journey_title:hover {
    font-size: 45px;
}

.journey_body {
    text-align: start;
}

.journey_body:hover {
    font-size: 33px;
}

.my_work_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
}

.my_work_section {
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.my_work_section article {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.paragraph_header {
    font-size: 24px;
    color: #6A5ACD;
}

.link_to_project {
    color: #FF69B4;
}

.paragraph_header:hover {
    font-size: 32px;
}

.paragraph_body:hover,
.paragraph_body a:hover {
    font-size: 24px;
}

.snapshots {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.snapshots section {
    background-color: rgba(255, 105, 180, 0.2);
    border-radius: 10px;
    padding: 25px;
    height: 300px;
}

.wireframes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wireframes h2 a {
    font-size: 24px;
    color: #6a5acd;
    padding: 100px;
}

.visual_design {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.visual_design h2 a {
    font-size: 24px;
    color: #6A5ACD;
    padding: 100px;
}

footer {
    padding: 25px;
    display: flex;
    justify-content: center;
}